# Dependencias
node_modules/
*/node_modules/

# Archivos de entorno
.env
.env.local
.env.*.local
*/.env
*/.env.local

# Logs
logs/
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Build outputs
dist/
build/
*/dist/
*/build/

# Archivos temporales
*.tmp
.cache/

#Archivos de prisma
generated/prisma

/package.json
/package-lock.json